[2014-02-13 19:48] jpSimkins opened #2 "Dates seem to have bad encoding"
It appears that when using a date field, T or D, the encoding makes the data useless. For example, I have a datetime of `2010-03-17 15:56:52` when pulling data from the ODBC connector. When I use this library to import the data into MySQL I noticed all the data fields were `0000-00-00` respectively. So I dumped the data to see what the row looks like before I send it to MySQL and I am getting date

[2014-11-06 11:32] abzainuddin opened #4 "Add version tag for composer."
Currently php-xbase does not have a version tag, so you cannot lock a specific version for php-xbase in your application composer.json file.

Could you please add a version tag?

[2014-11-26 20:44] #4 closed, assigned to nobody

[2015-05-11 11:59] dzarezenko opened #5 "Class not found error when try to use XBase lib in PHP"
I am trying to use https://github.com/hisamu/php-xbase lib in my project.
I have copied XBase folder from repository to the my root and created index.php in my root.

When I try this code:

    <?php

    use XBase\Table;

    $table = new Table(dirname(__FILE__) . 'data/test.dbf');

    while ($record = $table->nextRecord()) {
        echo $record->my_column;
    }

    ?>

I received this error:

[2015-05-11 15:49] hisamu commented on #5
If you're not using **composer** to manage your dependencies, you're probably not autoloading the classes, so you should do a `require()` on all the lib files.

You can also switch into using composer and it's autoloader.

[2015-06-26 15:43] #5 closed

[2015-08-11 04:39] naderskhan commented on #2
hi. anything done for this? facing same issue when reading from datetime "T".
find sample table here: https://goo.gl/qfyRgf

[2015-08-11 14:36] hisamu commented on #2
@naderskhan using your sample table I was able to find a possible bug. Since I don't have other feedback on T columns and this is the only sample I got, I can't assert that's always the case. I will update the code anyway, and if someone else find a bug I hope they will share with us.

[2015-08-11 14:45] hisamu commented on #2
Commit ecce006d84b6c569dfb4384dae1e579f2bd22ba8 should fix it.

[2015-08-11 14:45] #2 closed

[2015-09-07 15:28] Zakfor opened #8 "Cannot read field"
I have "Cannot handle datatype B" in my error.log.

[2015-09-23 13:42] hisamu commented on #8
@Zakfor do you have a sample file that I can test this issue?

[2015-09-30 16:06] eroshenko opened #10 "Exception error"
Testing your write code. Get the Exception:
PHP Fatal error:  Call to undefined method XBase\Table::openWrite()

[2015-10-21 00:55] hisamu commented on #10
Just fixed the README with the proper instructions to `WritableTable`, with a55ac8a.

[2015-10-21 00:55] #10 closed

[2015-10-21 08:17] developer88 opened #13 "Cannot properly open FoxPro db."
I have several FoxPro dbs from some accounting software. I need to open it and grab the info.

After my [fix](https://github.com/hisamu/php-xbase/pull/12) i managed to open the file and read some data, but lots of columns (especially with type B, N, F, D) do not received properly - either some corrupted data or just NULL.

Some info about db file from the Table.php:

foxpro: 1
version: 48
encrypte

[2015-10-21 13:41] #8 closed

[2015-10-21 13:46] hisamu commented on #13
I'm not sure about specifics for this version. Could you send me a sample table with this version and encoding so I could run some tests?

You can reach me at lsouza@codeinc.com.br

[2015-10-22 22:21] #13 closed

[2015-12-14 16:57] btraas opened #16 "Support for indexing?"
Is there currently any support for indexing (CDX files)? Writing to tables works fine, other than it doesn't update its corresponding .cdx file, which is used by our legacy application.

Are there any plans to support this soon?

[2015-12-14 20:07] hisamu commented on #16
I'm don't know how the CDX files work, so I don't plan to implement it soon. If you want to help implementing that, I would appreciate that. I could try to help after a first release, but currently I don't have enough time to start that.

[2015-12-15 15:53] spdionis opened #17 "PHP7 support"
Hi, thank you very much for the library, it's going to be very helpful in a project I'm working on now.

I had a quick look at the code and it looks like it will be compatible with php7, which I am using now (that's why I'm using this lib and not the extension).

I will test it out in practice to see if everything works well in practice later.

I suggest changing the php version requirement in com

[2015-12-15 19:19] hisamu commented on #17
Hi,

That's great, hope to hear about your results soon. If you need any help, just give me a heads up.

Thanks

[2015-12-16 21:36] btraas commented on #16
No problem. I'll let you know if I figure it out

[2015-12-17 19:15] spdionis commented on #17
There is actually an issue: https://github.com/hisamu/php-xbase/pull/18.

Also docs for writing a '.dbf' file assume that you already have it. At the moment it is **impossible** to create a file as far as i could see because the `WritingTable` parent constructor calls `->open()` on the file, and it complains that it doesn't exist. Commenting that call works fine **for writing**.

Trivial solution

[2016-01-11 19:31] fgacv opened #19 "Can't add record"
The script always re-write the last record.

[2016-01-20 00:39] cebas opened #20 "can't create table"
I can't figure out how to create a table.
1st attempt:

[code]

Table::__construct calls open which assumes the table exists and throws

2nd attempt:

[code]

PHP fails
Non-static method XBase\WritableTable::create() should not be called statically, assuming $this from incompatible context

if I set create as a static function, but it won't work fine either, because it uses $this

I can modify you

[2016-01-31 11:40] root-talis opened #21 "Upload 0.1.0 stable release to packagist"
Right now it is not possible to install "hisamu/php-xbase 0.1.0" via composer because the only available version is "dev-master". Any buggy updates to it will cause dependent software to break, and it is not possible to specify a stable version to protect software from possible bugs and api changes.

[2016-01-31 11:52] root-talis opened #22 "Floating point values read error"
I'm developing a project that reads an ancient FoxPRO DB, converts it and pushes data into a MariaDB database. One of the former versions in 'dev-master' had possibility to decode floating point numbers correctly. Now something changed, and after 'composer update' instead of '8.0' I'm getting '6,3380589665485E-10'. Here is the file: [SP_REF.ZIP](https://github.com/hisamu/php-xbase/files/111250/SP_

[2016-01-31 17:51] lestcape commented on #22
I think, the problem here is that some users used this code to read the data and some others to write the data. So, what is ok for some ones are not ok to the others. I also can not writing the types B, F and T. I then use N with decimalcount != 0 to write doubles.

[2016-02-01 08:59] root-talis commented on #22
@letscape: I am trying to _READ_ data from the cell.

[2016-02-14 16:35] wardopdem commented on #22
Bug in file ...\src\XBase\Record.php, method Record.getObject, line 129:
   case self::DBFFIELD_TYPE_NUMERIC:return $this->**getInt**($column->getName());

Type ('N') may be not only integer: need analize this (length/decimalCount properties) and use getFload/getDouble if it need.

[2016-02-15 09:39] wardopdem commented on #22
See my [pull request](https://github.com/hisamu/php-xbase/pull/23) for more correct desigion.

[2016-02-15 13:26] hisamu commented on #22
Great, thanks for that. I'm really short on time right now, so I hadn't had a chance to look at this issue.

[2016-02-16 02:11] lestcape commented on #22
There are another problem when we try to write a dbf here: https://github.com/hisamu/php-xbase/blob/master/src/XBase/Record.php#L295

Is caused by:
[code]

because of this:
https://github.com/hisamu/php-xbase/blob/master/src/XBase/Table.php#L233

The code create an intermediate table (a writableTable) inside the writableTable to write the dbf and is complex to see that the condition can not be sat

[2016-02-16 02:14] lestcape commented on #22
This iteration is also inefficient:
https://github.com/hisamu/php-xbase/blob/master/src/XBase/Table.php#L225-L231
but yes is working...

[2016-02-16 09:19] wardopdem commented on #22
But this is masking problem and this is no good: if the field not found this is a error in client's code - exception need to be thrown (as is) for handling by the caller code - not silent.

[2016-02-17 01:19] lestcape commented on #22
@wardopdem  true, that's why i don't opened a pull request.

[2016-03-04 11:00] xmorave2 opened #24 "Integer values bad read"
Hello,

I have some DBF files from Foxpro, and i faced issue with bad reading integer files.

In Record.php method getIndex should read the integer, but return bad value for me...
According to this documentation, the "I" type of column should be Integer, is it what you mean by "Index"?
For me the "I" type should be read like this:

    public function getIndex($columnName) {
        $su = unpack("

[2016-03-08 08:06] xmorave2 opened #25 "exit"

[2016-03-08 08:09] xmorave2 commented on #25
Sorry, bad window :(

[2016-03-08 08:09] #25 closed

[2016-03-08 08:20] xmorave2 commented on #24
I just opened the pull request:
https://github.com/hisamu/php-xbase/pull/26

[2016-03-08 22:19] xmorave2 commented on #24
As the pull request is merged, I'm closing this issue

[2016-03-08 22:19] #24 closed

[2016-04-19 12:54] hisamu commented on #21
Packagist was not updating tag 0.1.0, so I uploaded a new tag.

[2016-04-19 12:54] #21 closed

[2016-05-03 13:28] MarcSky opened #29 "How i can get a row?"
Hello! In my task i need to get rows how assoc array and analize them! I dont know name column i must to get information from row.
This is realy to get row how assoc array key value and analize this array?

[2016-05-03 13:34] nebojsac commented on #29
Just use ```getColumns``` to get the column info, and then ```getRecord``` to get the current row and then use ```getString``` with the column name to get a specific column.

You can get everything you need with the above and a loop or two.

[2016-05-04 14:34] MarcSky commented on #29
@nebojsac it's interesting, I'll try.

[2016-05-09 12:39] hisamu commented on #29
Closing the issue since it's more like a question about the lib.

[2016-05-09 12:39] #29 closed

[2016-06-08 13:43] corentin-pasquier opened #30 "Can't read Memo type from Foxpro"
Hi,

I'm iterating through a FoxPro database and one of the columns is of type 'memo'.
It seems xbase has a problem with this data type : printing the value shows a question mark inside a black diamond.

Do you have a solution or is it a known problem that will be fixed one day ?

Thank you,
Corentin.

![image](https://cloud.githubusercontent.com/assets/18682315/15896192/816a4142-2d8f-11e6-9013-99

[2016-06-09 12:32] nebojsac opened #31 "moveTo($offset) gives the wrong row with some DBF files"
Hi there,

So, I've been trying to figure out what's happening with little luck.
I take a DBF file with over 30k rows and loop over it 1000 rows at a time, and the further it gets the more overlap I get with the rows between two loops.

Between the 6th and 7th loop it's 2 rows of overlap, and between the 30th and 31st it's around 700, out of the 1000 returned per loop. It takes the script I have a

[2016-06-14 13:53] nebojsac commented on #31
So, I have investigated this a bit further.
It would seem that DBF files have some "duplicate" rows that are invisible to LibreOffice if it reads it in DBF format. They do show up if you convert the DBF file to CSV before reading (I did this with a small python script, https://gist.github.com/bertspaan/8220892).

At this point I'm not sure if this is an issue with the way LibreOffice handles DBF f

[2016-06-14 13:57] nebojsac opened #32 "Record->forceGetString trims data"
I don't think manipulation of the content of the file should happen within this script. Trimming should probably happen in userland code.

For my case, I removed the `trim()` call in `forceGetString()` as it was causing problems with expected offsets. I'm not sure if this could be a widespread issue, but my regular tests, with other files, didn't break when I removed `trim()`.

What do you think?

[2016-06-23 15:57] gadget00 commented on #31
I think you should check opening the original DBF file directly with a DBF viewer, rather than LibreOffice to see if the duplicates where there in first instance

[2016-06-23 17:40] nebojsac commented on #31
LibreOffice is a DBF viewer in that sense. When it's a DBF file I'm opening, the duplicate rows are not there. But that isn't the same as the xbase output, as the output does include the duplicates.

[2016-06-29 22:24] chetstriker commented on #30
Also having same issue. Well, mostly. I get random info like å201008 instead of a readable paragraph.

[2016-07-11 22:30] gadget00 commented on #13
was this ever solved?

[2016-07-13 07:19] developer88 commented on #13
@gadget00 it was fixed in #15 but i did not have time before to fix comments by @hisamu

[2016-07-13 07:33] debrouchee opened #33 "Missing columns"
I import a dbf-file with 65 columns. After the import I miss the last 9 columns. The file is a foxpro-file (with version-number 245 from readHeader-method).

My workaround is a modification of the __construct-method by adding a custom argument named $missingColumns. After that I add this value to the $fieldCount-variable in the readHeader-method:

`$fieldCount = floor(($this->headerLength - ($this

[2016-09-07 07:33] cerw commented on #22
@lestcape  is this fixed now? I am getting same error from dev-master

[2016-09-07 08:12] lestcape commented on #22
@cerw  I don't know, my solution was implement a python script (using a python dbf library) to migrate data to an special type of csv where columns headers contains the type and size(like they are display in libreoffice), then call the script from php to do what i want (read or write data from/to the special csv). As a result i have support for automatically encoding. My dbf also can be read by de

[2016-10-03 21:59] gadget00 opened #34 "is it 'case-sensitive'"
I'm tryint to open a dbf file called DATA.DBF, but haven't been successful so far.

I wanted to know if the file has to be named in lowercase (data.dbf) or if that doesn't matter, in order to look for some error in my code or in my server configuration.

Thank you

[2016-10-04 04:30] gadget00 commented on #34
I was the one messing things up.  Nevermind!

[2016-10-04 04:30] #34 closed

[2016-10-05 08:03] d3artagnan opened #35 "0 numeric value, return false"
Please check
`public function getNum($columnName)`

Record.php, line 224
`if (!$s) {
            return false;
        }`

When dbf column having zero value, $s will have "0"
then this code will return false

Is it supposed to return 0?

[2016-11-19 03:39] jchimene commented on #20
I notice this issue is still open. I don't think the author has thought through table creation. If I come up with a solution I'll post it here.

[2016-11-19 03:42] jchimene commented on #16
I don't think think the author has thought through index creation. My current attempt will be to link https://github.com/jakubkulhan/btree to this structure. Using a btree object of {key:XXXXX, recno:NN} should do the trick. I'd like to wrap this in a handler class to automatically open the data and an array of index files. My first cut will be to support only one index file.

[2016-12-15 19:27] AlexMax opened #38 "License?"
I do not see a license for this library.  Thus, it's not exactly clear what the terms of use are of this library at a glance.

I checked on PHPClasses, and it seems like the original library's license is labeled "Freely Distributable".  It's kind of vague, and it doesn't account for the work you and others have done on the library since then.  Github docs have [this](https://help.github.com/articl

[2016-12-15 22:33] hisamu commented on #38
I agree with MIT. The reason I didn't include a default license is because the original code didn't actually have a defined one.

@CDyWeb what do you think about including the MIT license on the project?

[2016-12-23 06:57] xmorave2 opened #40 "Use code page code for determining encoding"
See the codes here:

https://msdn.microsoft.com/en-us/library/aa975345(v=vs.71).aspx

[2017-01-05 02:27] hisamu commented on #38
@AlexMax I just added the MIT license 👍

[2017-01-05 02:27] #38 closed

[2017-03-27 21:08] AlexMax opened #43 "Missing end-of-file marker"
According to the [Data File Header Structure for the dBASE Version 7 Table File:](http://www.dbase.com/KnowledgeBase/int/db7_file_fmt.htm)

I do not notice this marker on any files I generate with the program, and a search for `0x1a`, `1a` or `26` in this library does not reveal anything that actually writes this marker.

Strangely, most programs I use to open these files don't seem to mind, but i

[2017-04-25 04:27] gadget00 opened #44 "Date format"
Hi; I want to thank you for this amazing code.  It's helping me a LOT.

However, I'm having problems with fields that are of DATE data type.  Somehow instead of getting them in php as "04/31/2017" when I use it (and the actual foxpro DBF table has it saved in this format) I receive "Wednesday, April 31 2017 00:00:01".

How do I set up the date format when receiving the value from the DBF?

Thank y

[2017-04-26 08:34] nebojsac commented on #44
I believe it just takes it directly from the DBF data. In PHP you can handle it like this:

[code]

[2017-06-02 13:30] alexjeen opened #45 "Currency format"
You can easily add currency format, this works for us:

    const DBFFIELD_TYPE_CURRENCY = 'Y';    // Currency

    public function getCurrency($columnName)
    {
        $s = $this->choppedData[$columnName];

        $s = unpack('q', $s);

        if ($s) {
            return $s[1] / 10000;
        }

        return 0;
    }

[2017-06-02 13:49] alexjeen commented on #45
You can also use:

    $s = unpack('l', $s);

It results in the same.

[2017-06-04 23:44] hisamu commented on #45
Do you have it working @alexjeen? Would you mind opening a PR?

[2017-06-05 08:34] alexjeen commented on #45
Hi there @hisamu, yes we've verified that it works. However we only use the reading part of this library.

I don't have time to make a PR in the coming weeks for the writing part (and to do some testing for the writing part).

This is the test file we have used to check if it actually works, its a table with a single column and row.

[test.dbf.zip](https://github.com/hisamu/php-xbase/files/1051486

[2017-08-03 03:36] gadget00 commented on #44
Hi again!  I figured out that the php-xbase took the actual "date" value from the DBF and transformed in a unix timestamp by default.  What I did is take that default unix stamp and format it as I needed:

`		$unix_time = $record->getDate('fecnacim');
                $nacimiento = date("Y-m-d",$unix_time);
`

[2017-08-03 03:36] #44 closed

[2017-08-03 03:37] hisamu commented on #44
👍 👍 👍

[2017-09-05 02:22] ghopretz opened #46 "can not read dbf"
i have dbf file with 223 columns and 902 records.
i use this library to read in php, but it can not read the records of that dbf file and only can read the columns of that dbf file. why?

[2017-09-05 02:24] ghozien commented on #46
[Export Sakernas2017 smt taput.zip](https://github.com/hisamu/php-xbase/files/1275887/Export.Sakernas2017.smt.taput.zip)
this is my file

[2017-09-05 23:26] victortyau opened #47 "$table->writeRecord(); problems"
I cannot save a new record from php into with this $table->writeRecord(); sentence, please help me you guys

[2017-09-06 10:43] kingofnull commented on #20
change create function in writabletable.php to it:
[code]

and use fowling example to create file:
[code]

The second param which is array of array show the list of columns.

[2017-09-06 11:13] cebas commented on #20
Thank you @kingofnull

[2017-09-06 11:13] #20 closed

[2017-09-14 14:35] gadget00 commented on #47
I'm having the same problem; is there any way to display an error or something??

[2017-09-16 06:30] kingofnull commented on #47
you can use my fork until the project maintainer accept my push request.

https://github.com/kingofnull/php-xbase

[2017-09-16 06:32] kingofnull commented on #20
I fix some problems like it. you can use my fork until the project maintainer accept my push request.

https://github.com/kingofnull/php-xbase

[2017-09-17 00:01] cebas commented on #20
I will. Thanks again @kingofnull

[2017-10-26 19:52] gadget00 commented on #47
Hi, we are still having problems writing in the DBF.  Can somebody please help with this??

[2017-10-26 21:14] gadget00 opened #49 "how do I delete a record?"
Hi all,

I'm working with a DBF and sometimes I need to 'delete' a record from it.  How do I do it?

[2017-11-07 04:08] Ralph519 opened #50 "Install Error"
Composer gives me this error when trying to install "Failed to decode response: zlib_decode(): data error"

[2017-11-07 05:32] #50 closed

[2017-11-15 16:24] gadget00 opened #51 "Can't update a single record; always creates a duplicate record with the updated field"
Hi all,

I'm trying to update a single record in the DBF but instead the function writeRecord() keeps adding new lines to the DBF with each update.  Am I using the wrong function?  I don't see either any updateRecord() or anything similar.

Please help; thank you

[2017-11-17 17:35] gadget00 commented on #31
how do you use

`moveTo($offset)`

what value do you give to that function?? I want to use it but don't know which value to give it, so it can move to the row I want to

[2017-11-17 17:38] nebojsac commented on #31
`$offset` is the row you want to move to. So, if you want to keep moving forward, you need to increase the `$offset` since the last time you used it.

[2017-11-17 17:44] gadget00 commented on #31
but what determines the number of the row? for example, if I want to move to the record where id=1221

[2017-11-17 17:45] nebojsac commented on #31
The number of the row is the row in the DBF file. So, if you're looking by ID, you need to first know where that ID is. Which probably means you need to go through the entire file first.

Best way to go about using these files is to import the entire thing into a database table, and then run any SELECT queries on the table itself.

[2017-12-11 05:30] jl401812 commented on #33
I know this is an old thread, but if anyone else has this issue, try removing `245` from line 54 of Table.php

`$this->foxpro = in_array($this->version, array(48, 49, 131, 203, 245, 251));`

In my case, this allowed me to correctly import all the right columns.

[2017-12-11 11:07] rtfmfm commented on #51
Anyone here? I'd love to get this working...

[2017-12-12 17:35] gadget00 commented on #51
@hisamu

bro we need you to take a look at the issues and pull requests. Ok?
irmao, precissamos que vc venha e olhe os problemas e os pull requests. Valeu?

[2017-12-12 22:35] hisamu commented on #51
Hey @gadget00,

The _write_ part was a contribution made by another user, so I'm not totally familiar with it. I could help testing it though. I'd just ask for a sample DBF and the code used for the faulty scenario.

[2017-12-12 22:37] #17 closed

[2017-12-12 22:38] #19 closed

[2017-12-13 02:33] gadget00 commented on #46
hi @ghozien ,

did you follow the example?  You need to open the DBF and place a loop in order to read the records:

[code]

[2017-12-13 02:45] gadget00 commented on #51
Hi @hisamu!  Great that you answered.

I'm attaching the DBF file I'm working on, and the sample code I made to test the writing on it.

Just to remind you, I used the code modified by @kingofnull in this example

[write_example.zip](https://github.com/hisamu/php-xbase/files/1553982/write_example.zip)

[2017-12-13 08:37] rtfmfm opened #52 "Wrong number recorded"
Hi! I have the following problem.
This is my sql database table:

`| id | record_id | from | num | qty | qty2 | to | `
`| 150 | 34 | 111    | 200006 |    555.000 |   5550.000 | 222 | `

When I try to write this data in dbf the value of the column qty2 is inserted as 5.000. The problem is present when the value is more than 999.000 (has 4 numbers before the decimal). If the value is 9000.000 it is

[2017-12-13 18:37] rtfmfm commented on #52
I found something. I opened the dbf with linux dbfviewer and found that the numbers are written but there is an comma sign which is dividing thousands. The number is written as 5,550.000 instead of 5555.000 and the software (windows client and Libreoffice in Linux) is showing it as 5,000

Can you tell me where to change this thousands separator, please?

[2017-12-14 20:08] rtfmfm commented on #52
Nevermind... found it.

[2018-01-20 04:39] ethaizone opened #53 "Beware don't trust type in column as INT."
This is not real issue for this libary. This library is very good and help my life but some of dbf files that I work with it have some problem.

When they parsed and tell it as Number but in real data has decimal so Right now in my migration script. I must make all of them as FLOAT to MySQL and make second migration to make decision for write correct value to new application.

I read in source cod

[2018-02-07 17:07] scottsb opened #54 "Memo lookup overly matchy"
When looking up the memo file, the library will replace any instance of "DBF" or "dbf" in the table file path, not just in the extension. This means that if the path has those strings elsewhere in the path, the memo file won't be located, as the overzealously modified path likely won't exist.

[2018-02-07 17:25] scottsb commented on #30
This looks like a character encoding issue. Did you specify the correct encoding when instantiating `Table`?

[2018-02-18 22:30] zbohm opened #55 "Dangerous number_format with implicit parameters"
https://github.com/hisamu/php-xbase/blob/26ceae6c7ca67d67132b5c1108e5e2906343631d/src/XBase/Record.php#L449

Function `number_format` without defined parameters `dec_point` and `thousands_sep` does not work properly for DBF number, because these parameters are taken from locales. Fof example thousand separator can ba a space, so it generate format such this: "1 000". And this value is not valid.

[2018-03-06 23:39] efrain-atienza opened #56 "Can't be read single row tables"
Tables with single row can't be read with $table->nextRecord()
I think there's an error (table.php line 138) I would change it for:

            if (($this->recordPos + 1) **>** $this->recordCount) {
                return false;
            }

[2018-03-09 07:04] bomb1980 opened #57 "How to delete record?"

[2018-03-18 03:44] lestcape commented on #22
I'm trying to simplify my solution, migrating a probed Python library that works. Who want to help is here: https://github.com/lestcape/DbfPHP

[2018-03-31 01:47] gadget00 commented on #16
how did this went?? @jchimene where you able to go through any of this??

 I'm having the situation where the index files don't get updated when I write a new record or update one in the DBF and when I open the legacy foxpro app the new records are not shown, until I 'reindex' the DBF

[2018-03-31 03:59] btraas commented on #16
+1 @gadget00, we're doing the same. Would be great to do in this library (or even an external command line program). Let me know if you find anything

[2018-03-31 04:24] gadget00 commented on #56
it would be interesting to see your code snippet.  I update a single row table in my code and haven't had any issues loading the record to update it and save it in the DBF so far

[2018-04-06 17:11] victortyau opened #58 "Problems with Date fields"
Hello, I am having problems to save the date with this format d/m/Y, when I echo the field the result is bool(false) @kingofnull would you help.
kind regards

[2018-04-18 08:49] agus24 opened #59 "Failed to read Memo field at version 131"
i got a problem while read the memo type field the result always 1 char.

`$data = ($table->nextRecord()); $data->getMemo('remark1')`

result is "2" the actual result should be "(03/08) NOTA DEBET DANAMON Rp
SENTRA MULTI S - 200 PCS KARDUS SB"

thanks.

[2018-04-18 08:52] #59 closed

[2018-05-16 22:36] #56 closed

[2018-06-12 09:57] lenochware commented on #30
I have same problem. I am creating table as:

$table = new Table('./files/TABLE.DBF', $columns, 'cp1250');

Data readed from table (not memos) are ok.

[2018-06-12 09:59] lenochware opened #60 "Date in far future"
Cannot read date in far future - e.g. 1/1/2055. Problem with strtotime and timestamp, maybe?

[2018-11-20 14:56] ghopretz opened #61 "can not read record"
Why cannot php xbase read record of this file?
[tes2.zip](https://github.com/luads/php-xbase/files/2600230/tes2.zip)

[2018-11-20 15:41] ghopretz commented on #61
it can read column count and column name, can not read `while($record = $table->nextRecord()){}`
this my code:
[code]

[2019-01-09 06:48] mygoodboy commented on #61
echo $records->getString(ColumnName)

[2019-01-27 10:38] blacksenator opened #62 "composer install"
command must be:`

"hisamu/php-xbase":"^1.0.5"`

please correct READ.ME and [https://packagist.org/packages/hisamu/php-xbase](https://packagist.org/packages/hisamu/php-xbase)

[2019-01-28 23:11] luads commented on #62
Can you open a PR?

[2019-02-06 15:31] adixon commented on #30
I've reproduced this, and it seems there are two issues here:
1. The memo field pointer is 4 characters instead of 2 (so need to convert to a long integer).
2. The code is doing the iconv on the pointer string (oops!).

PR forthcoming ...

[2019-02-07 09:23] jackieweb opened #64 "Can't insert Type Double (Visual Foxpro)"
.dbf (vfp) i'm insert data.

Example.
insert value 10.25  in field type double (8,2)   type  B

 data view on browser is   6.0136069851366E-154

[2019-03-16 20:59] Xsylon opened #66 "Pagination"
i have dbf file with 10k rows how to do pagination?
or limit results to 10,20 / page

[2019-07-19 14:39] PeterCrea commented on #30
A little follow up on this with a related problem that I had with the current version of the library.
When a table is of type 0xF5 (245) (=FoxPro with memo FPT file), the method getMemo() checks if the length of the data is 2 and then reads a signed 16-bit integer. However, a field of type M is **always** of length 10 and contains a numerical representation as text of the pointer to the block in t

[2019-07-19 15:22] PeterCrea opened #69 "Not all field types in header are read with foxpro file"
In Table.php method readHeader(), the fieldcount is calculated by this formula: $fieldCount = floor(($this->headerLength - ($this->foxpro ? 296 : 33)) / 32);
However, I have foxpro files that do not contain the extra 'Database Container' block at the end of the header so because calculated number of fields is too low and some of the fields at the end of the list are not read.

In fact, one does no

[2019-09-17 16:42] gadget00 commented on #66
you have to do the pagination yourself, I guess. in backend with the PHP, or with js when you display the data(via datatables for example)

[2019-09-27 23:17] dmitranoid opened #71 "PHP 7.3.3 PHP Deprecated: strpos(): Non-string needles warning"
in class Column:24 need to change to
        $this->name = (strpos($name, chr(0x00)) !== false ) ? substr($name, 0, strpos($name, chr(0x00))) : $name;

[2019-10-13 19:56] #66 closed

[2019-11-04 08:39] gam6itko commented on #71
Fixed in #65

[2019-11-04 08:47] gam6itko opened #72 "Packagist not syncing new realeases"
I can't download new realease 1.0.6 via composer.
I assume what you use deprecated legacy service integration method for
https://packagist.org/packages/hisamu/php-xbase

[2019-11-06 11:28] gam6itko commented on #72
@luads can you fix it please ?

[2019-11-06 22:39] luads commented on #72
The token was outdated, it's fixed now.

[2019-11-06 22:39] #72 closed

[2019-11-07 21:19] #71 closed

[2020-01-31 09:41] Fabricio872 opened #75 "Some columns cannot be read"
I have some .dbf files in work which i need to fill the database but one file with memo file while opened with Libre office calc have 12 columns but luads/php-xbase see only 3 of them. I am sending problematic files as an attachment and also here is the link for my testing laravel project for easier simulation of the problem many thanks for any help.

https://github.com/Fabricio872/foxproTest

[fo

[2020-02-03 09:35] zhangatjlu opened #76 "need examples"
are there examples of creating or cloning dbf?

[2020-02-05 11:14] gam6itko commented on #62
@blacksenator The documentation is correct. By default composer installs last version. If you need the certain version you can set it in your composer.json file

[2020-02-05 11:14] #62 closed

[2020-02-09 07:40] gam6itko commented on #57
here 66b96e0ec64eee863b46fcda03a47bf548abf7d3

[2020-02-09 07:41] gam6itko commented on #35
fixed in #77

[2020-02-09 07:41] #35 closed

[2020-02-09 07:42] gam6itko commented on #49
here 66b96e0ec64eee863b46fcda03a47bf548abf7d3

[2020-02-09 07:42] #49 closed

[2020-02-09 07:43] #57 closed

[2020-02-09 12:45] gam6itko commented on #69
@PeterCrea Can you provide the file without extra 'Database Container' block for tests please?

[2020-02-09 15:47] gam6itko commented on #75
Сause of error #69. I'ill fix it soon

[2020-02-09 22:41] #46 closed

[2020-02-09 22:55] gadget00 commented on #51
Hi all,

did we ever found an option for updating a single row?

[2020-02-09 22:58] gadget00 commented on #60
If you use the unix epoch, that only goes up to 2038 or something, due to a limitation in the unix-based calculation for dates. Try to use another way of handling dates

[2020-02-09 23:02] gadget00 opened #78 "Can’t insert dates in DBF"
Hi all,

Please guide me into how to insert dates in the DBF files. Every time I add a record, the DBF fields that are of the “Date” value always go either null, 0000/00/00 or with the initial date of unix epoch 31/12/1969.

Exactly which is the correct way to insert a date in the date field of the DBF file??

 I hope you can help me with this, thanks

[2020-02-09 23:05] gadget00 commented on #16
@btraas so far I haven’t found a solution for this. How can we make a “reindex” function for this?? I just saw that there is a “pack()” function that saves the changes and re-counts the rows like the original VFP. There must be a way to trigger the reindex as well

[2020-02-09 23:43] btraas commented on #16
@gadget00 poking through the code I didn't see any support for indexing, creating CDX files etc.

We ended up buying the Indexman command-line utility ($30) to reindex DBFs, which uses Microsoft's FoxPro DLLs to reindex. It's windows-only but I bet it works fine with wine.

https://dbfdoctor.com/en/news/IndexMan/

[2020-02-10 09:25] gam6itko commented on #78
@gadget00 Can you provide database file and code sample?

[2020-02-10 14:31] gadget00 commented on #78
@gam6itko  sure, here's a DBF sample and the code I use.  It almost always either inserts an empty date, or "12/31/1969".  This issue has bugged me for years, literally.  I hope you can take a look a it and help me fix this

[phpxbase_insert_date_test.zip](https://github.com/luads/php-xbase/files/4181293/phpxbase_insert_date_test.zip)

[2020-02-10 22:26] gam6itko commented on #75
@Fabricio872 You can  test it with composer version dev-master#d61a4539f57d65620785604b8b380890225c518e

[2020-02-10 22:26] #75 closed

[2020-02-10 22:29] gam6itko commented on #69
Fixed in 85fe93d63b02e16b7f6378170f4aa64be4b6af3a

[2020-02-10 22:29] #69 closed

[2020-02-10 22:37] gam6itko commented on #33
Fixed for #75

[2020-02-10 22:37] #33 closed

[2020-02-10 22:42] gam6itko commented on #30
Same here #75

[2020-02-11 12:10] gam6itko commented on #78
@gadget00 Looks like this is a stripped down version of the original file. How many lines were in the original file? What tool did you use to reduce the number of lines?

[2020-02-11 13:15] gadget00 commented on #78
The original file had over 10,000 lines.  I used a Visual FoxPro CLI to cut off the records and also to scramble the original data a little bit.

[2020-02-11 14:49] gam6itko commented on #78
You use wrong date format to set date
[code]
Here `strtotime` recognizes the date as `m/d/Y`.
https://github.com/luads/php-xbase/blob/85fe93d63b02e16b7f6378170f4aa64be4b6af3a/src/XBase/Record.php#L451

To solve this problem you should set date in `m/d/Y` format.

[code]

I'm going to add support for DateTime object for `D` and `T` columns.
[code]

Will this feature is useful for you?

[2020-02-11 16:00] gadget00 commented on #78
@gam6itko  it would be VERY useful indeed; as long as the DBF format supports datetime; does it?

[2020-02-11 21:49] gam6itko commented on #78
@gadget00  [field-types doc](http://www.independent-software.com/dbase-dbf-dbt-file-format.html#field-types). DateTime (T) type supports by FoxPro. dBase has only Date (D) type. We could convert it to php DateTime object for fore convenient usage (format, convert, etc)

[2020-02-11 22:58] gam6itko commented on #64
@jackieweb Can you provide database file and code example?

[2020-02-11 23:10] #61 closed

[2020-02-12 03:07] jackieweb commented on #64
Thank you for my question . Now i'm not  work programming.

Thank you very much.

Alexander Strizhak

ในวันที่ พ. 12 ก.พ. 2020 เวลา 05:58 Alexander Strizhak <
notifications@github.com> เขียนว่า:

[2020-02-12 08:56] #64 closed

[2020-02-12 09:03] gam6itko commented on #58
See discussion for issue #78.

[2020-02-12 09:03] #58 closed

[2020-02-12 16:15] gam6itko commented on #30
Does anyone have a file to reproduce the bug?

[2020-02-12 17:36] gadget00 commented on #16
@btraas  can you give me an example of how to use that utility? I downloaded and installed it, and also read the help options but can't figure out how I'm supposed to use it.  Thanks again

[2020-02-14 14:04] gam6itko commented on #78
@gadget00  Did i help you? Can close the issue? If you want get DATE (D) as php DateTime object you should update libradry to 1.1@dev

[2020-02-18 16:35] #78 closed

[2020-02-18 16:36] gam6itko commented on #76
Readme contains all you need.

[2020-02-18 16:36] #76 closed

[2020-02-18 16:36] gam6itko commented on #60
Please provide database file

[2020-02-18 16:40] gadget00 commented on #78
it worked perfectly; thank you very much for picking up the project and start closing issues!

[2020-02-18 20:42] gam6itko commented on #32
To get not trimmed genuine data use this
[code]

[2020-02-18 20:42] #32 closed

[2020-02-19 16:55] gam6itko commented on #47
fixed in 1.1.0 see example in `WritableTableTest`

[2020-02-19 16:55] #47 closed

[2020-02-21 15:56] gam6itko commented on #60
Perhaps this was fixed in version 1.1.  I close the branch because i have no data to reproduce the bug.

[2020-02-21 15:56] #60 closed

[2020-02-21 15:57] #55 closed

[2020-02-21 15:59] gam6itko commented on #54
fixed in 193f6b352504761eb20d89c31b4fbac9e04f718a

[2020-02-21 15:59] #54 closed

[2020-02-21 16:02] gam6itko commented on #30
Perhaps this was fixed in version 1.1. I close the branch because i have no data to reproduce the bug.

[2020-02-21 16:02] #30 closed

[2020-02-21 16:25] #45 closed

[2020-02-21 17:35] #40 closed

[2020-02-21 17:36] gam6itko commented on #40
Now you can use `XBase\Enum\Codepage` class

[2020-02-21 23:15] btraas commented on #16
@gadget00 I use it like this:

`C:\Program Files (x86)\IndexMan\IndexMan.exe <dbfFile> <cdxFile> [-nodeleted]`

And wrapped in a C# service that can be triggered by our web server.

[2020-02-26 18:43] gam6itko commented on #53
Can you provide problematic dbf files for tests ?

[2020-02-28 07:54] gam6itko commented on #51
I do not see a sign of duplicate during the testing.

Here is testing script. I run it on v1.1.0.
[code]

[2020-02-28 13:57] gadget00 commented on #51
Correct; I tested myself now and it its not duplicating anymore.  I'm closing this one

[2020-02-28 13:57] #51 closed

[2020-02-28 14:39] #52 closed

[2020-03-12 16:37] xombie4less opened #80 "Missing Column.php?"
I just downloaded this package and noticed that there is no `src/XBase/Column.php` file, but it is referenced in the `test-memory.php` script and was in previous releases.  Is there a new path to `Column.php`?

Thanks in advance!

[2020-03-12 21:06] gam6itko commented on #80
If you need example how to work with library you should look at the files in the `tests` folder. `XBase\Column` class replaced by `XBase\Column\DbaseColumn`.

[2020-03-13 07:55] kovinet opened #81 "Error while reading Memo fields for VisualFoxPro"
I have tested this lib with VisualFoxPro database which has one field of type memo. If I read the db without accessing memo field with getter, it works fine. But if I also try to access memo there are few bugs.

After reading couple of hundred lines successfully it start throwing this errors:

This is the exact warning:

After this warning happens from that moment on all future rows in a while loo

[2020-03-13 08:38] kovinet commented on #81
I have tracked down the error to `src/XBase/Memo/FoxproMemo.php` where `$pointer` which is passed to `get($pointer)` function becomes negative, which in turn calculates wrong negative `$offset` for `fseek()`

I will try to solve it and provide PR.

[2020-03-13 08:48] gam6itko commented on #81
@kovinet can you give me the file?

[2020-03-13 08:54] kovinet commented on #81
I would have to clean it up, because it has personal information which I can't share ...

Problem seems to be in this line:

s - signed short (always 16 bit, machine byte order)

So after certain offset is reached (limit of 16 bit) it becomes negative.

[2020-03-13 08:59] kovinet commented on #81
Using upper case 'S' (unsigned) seems to work better.

[2020-03-13 09:01] gam6itko commented on #81
@kovinet will you create a PR or should I make these edits?

[2020-03-13 09:03] kovinet commented on #81
I will create it. Using unsigned short is not the solution, it fails after the limit is reached, still, FYI.

[2020-03-13 14:18] kovinet commented on #81
#82

[2020-03-13 14:43] gam6itko commented on #81
@kovinet thanks for your contribution

[2020-03-13 14:43] #81 closed

[2020-03-16 12:17] #80 closed

[2020-07-24 09:11] rtfmfm opened #83 "Wrong fieldCount calculation after update"
Hi!
After the update of the app from Laravel `5.7.11` to `7.21.0` without any other change, I'm getting this error:
`Wrong fieldCount calculation` when trying to read an `dbf` file.
`$table = new Table('file.dbf', null, 'CP1251');`
It was working when I was using `Laravel 5.7.11` and `php-xbase 1.0.5`
Now it's not working on `Laravel 7.21.0` and `php-xbase 1.1.0`.

When I'm trying to use `Laravel

[2020-07-24 09:18] gam6itko commented on #83
@rtfmfm can you give us your dbf file?

[2020-07-24 09:35] gam6itko commented on #83
@rtfmfm  update to version 1.0.7 to solve 'chr issue'

[2020-07-24 09:36] rtfmfm commented on #83
@gam6itko, thank you for your immediate response! Can I send the original file directly to you? If not, I'll remove some data and the can share it here.

[2020-07-24 09:42] rtfmfm commented on #83
@gam6itko, I just did one test. If I open the `dbf` file with LibreOffice and just save it the problem is solved. Maybe it's the file, not the application.

[2020-07-24 09:46] gam6itko commented on #83
@rtfmfm if it not contains private information you can drop it here. You also can send it to gam6itko@gmail.com

[2020-07-24 15:23] gam6itko commented on #83
Some files has 2bytes-terminator 0x0D00. I don't actually know which application creates dbf files in that way.

I guess I've fixed that in deba186ca23bc0867a14562539562c8c6c8327a0. Can you update to `dev-issue_83` and check it?

[2020-07-24 18:26] rtfmfm commented on #83
Thank you very much for the update. I'll be able to test it on Monday and will report the result.

[2020-07-24 19:02] rtfmfm opened #86 "Problem when writing values with thousands (more than 3 digits)"
Hello!
Today I faced this issue with the `php-xbase`
When I'm trying to update a `dbf` file if the value is a number with thousands (i.e. 3450), in the file is stored only the first digit - 3. If the value 567 it's stored correctly.

`Laravel 7.21.0`
`php-xbase 1.1.0`

[2020-07-25 07:45] rtfmfm commented on #83
Hello,
today I managed to test the `dev-issue_83` version and it is working as expected. I was able to open and read a `dbf` file without getting the error.

Thank you!

[2020-07-25 17:21] #83 closed

[2020-07-26 13:14] gam6itko commented on #86
@rtfmfm how I can reproduce this bug? Can you provide code example and dbf file?

[2020-07-27 07:53] rtfmfm commented on #86
Hi!
Yes, I was able to reproduce it every time.
Here is my setup:
`Laravel: 7.21.0`
`php-xbase: 1.1.0`
DBF file: [prpr_n.zip](https://github.com/luads/php-xbase/files/4980666/prpr_n.zip)

TestController.php
[code]

[2020-07-27 10:16] rtfmfm commented on #86
Seems like `php-xbase 1.2.0` solves this. Thank you!

[2020-07-27 18:24] #86 closed

[2020-08-02 14:55] DierteK opened #87 "writeRecord and variable type"
Hello,

I want to edit a DBF file and have created the following test script for this purpose:

[code]
The problem now is that a `string` was written in the field "foobar". But I would like to write something there as `float`.

Thanks

[2020-08-02 20:05] gam6itko commented on #87
@DierteK give me the file or `$table->version` value to reproduce this bug

[2020-08-02 22:10] kipifan opened #88 "Cannot read column names"
Column names contain special chars. Cannot read the column names.

[code]

[code]

DBF File : [ARTICLE.zip](https://github.com/luads/php-xbase/files/5013062/ARTICLE.zip)

Please help, i cannot read data with column names.
[code]

[2020-08-03 08:13] gam6itko commented on #88
@kipifan which version are you using?

[2020-08-03 08:16] kipifan commented on #88
"packages": [
        {
            "name": "hisamu/php-xbase",
            "version": "1.2.0",

[2020-08-03 08:23] gam6itko commented on #88
@kipifan Did it work correctly with previous versions 1.1 or 1.0 ?

[2020-08-03 10:01] #88 closed

[2020-09-09 12:55] imidimi opened #89 "cannot handle datatype I"
For all the data types its working fine, but as soon `I` data type comes in any table it gives this error. Can you please review it?

[2020-09-09 12:57] gam6itko commented on #89
Can you provide file and code example?

[2020-09-09 13:02] imidimi commented on #89
Getting all fields for the table first. Then assigning them values.
[SALES.zip](https://github.com/luads/php-xbase/files/5195300/SALES.zip)

$tableA = get('C:\\pcmrpw\\' . $saleTable);
$allColumns = $tableA->getColumns();

foreach ($allColumns as $key => $column) {
    $allColumns[$key] = isset($_POST[$key]) ? $_POST[$key] : '';
}

$tableB = add('C:\\pcmrpw\\' . $saleTable);
$tableB->openWrite();

[2020-09-09 13:09] gam6itko commented on #89
@imidimi I'll fix it asap

[2020-09-10 15:57] gam6itko commented on #89
fixen in 2267452d19f0acaf456222a9c5e499576dbdc68b

[2020-09-10 15:57] #89 closed

[2020-09-11 13:36] imidimi opened #91 "Can't add/update memo field (long text)"
Reading memo for a record is working fine, but adding or updating it returns this error when i try to view it.

[code]
I am attaching the table along with its FPT file. Field name is 'comment'. You can try updating or adding in this table.
[addrbook.zip](https://github.com/luads/php-xbase/files/5209325/addrbook.zip)

Here is the code i m using to add new row to table

[code]

[2020-09-14 08:48] gam6itko commented on #91
I'll fix it feature at the week

[2020-09-22 10:38] ludvikjan commented on #91
I have the same problem. By append row to empty table, the first row stay empty and data are writen to next row.

[2020-09-22 12:14] gam6itko commented on #91
I'm working on new approach to write data to table (create and update rows). I'll release it soon.

@ludvikjan I will appreciate if you give me the table file, and the code example to test and fix this issue.

[2020-09-24 08:16] ludvikjan commented on #91
There is my example. After write data to empty table the header is not correct and in first row missing data.

`
copy('emptyTable.dbf', '/tmp/table.dbf');
copy('emptyTable.fpt', '/tmp/table.fpt');

$table = new WritableTable("/tmp/table.dbf", null, 'CP1250');
$table->openWrite();

$data = ['str1', 'str2', 'str3', 'str4'];

foreach($data as $value) {
    $record = $table->appendRecord();
    $recor

[2020-09-30 09:21] gam6itko commented on #91
I think I fixed this bug. I ask you to check it works correctly. You need to use `dev-set_memo` version. I'm waitinf for your feedback

[2020-09-30 13:35] ludvikjan commented on #91
@gam6itko in looks like it is OK.

[2020-09-30 18:31] gam6itko commented on #91
fixed in #92

[2020-09-30 18:31] #91 closed

[2020-09-30 18:32] gam6itko commented on #43
fixed in #92

[2020-09-30 18:32] #43 closed

[2020-09-30 18:32] gam6itko commented on #87
I guess it fixed in #92

[2020-09-30 18:32] #87 closed

[2020-10-01 11:39] #53 closed

[2020-11-04 22:04] AgustinNormand opened #93 "Error in datetimes after updating to 1.3.0"
Hi,

I'm learning php so maybe this is something easy to resolve but I dont know how to do it.
I'm getting this error since I updated my app that was working fine with the version 1.2.2 of this library:
TypeError: Return value of XBase\DataConverter\Field\VisualFoxpro\DateTimeConverter::fromBinaryString() must implement interface DateTimeInterface or be null, bool returned

/home/agustin/Test/vend

[2020-11-05 08:23] gam6itko commented on #93
Hi. Can you provide database file and code to reproduce this bug?

[2020-11-05 08:47] ebta commented on #93
I think it's because the value from dbf sometime result in float, I make pull request here #94

[2020-11-05 09:01] gam6itko commented on #93
@AgustinNormand you need to update to `dev-master` and make sure it works correct for now.

[2020-11-05 13:24] AgustinNormand commented on #93
Thank you, now in dev-master works fine. Regards

[2020-11-05 13:24] #93 closed

[2020-11-23 18:42] EscApp2 opened #95 "How create dbf file?"
I want to create a file and write information in dbf format to it.  Any example?

[2020-11-24 09:53] gam6itko commented on #95
@EscApp2 Unfortunately, this functionality is not yet available. What type of file do you want to create? Maybe I can implement this soon

[2020-11-27 11:01] se8820726 commented on #19
I have problem in adding new records

How can add new record ?

[2020-11-27 11:02] se8820726 opened #96 "how add new records"
Hi
I want to add new records

can this library add new records to dbf file ?

[2020-11-27 11:36] gam6itko commented on #19
@se8820726 Try this

[code]

[2020-11-27 11:40] gam6itko commented on #96
@se8820726 Try this

[code]

[2020-11-27 18:03] #96 closed

[2020-12-02 14:07] DierteK opened #97 "Open DBF file in "parallel mode"? (without cloning)"
Hello,

i would like to edit (WritableTable) a dbf file, but the file is already opened by an older application.

With programs like "DBF Viewer 2000" I can easily edit these files. The changes are then also immediately visible in the application.

But XBase creates a copy and then copies it back again. Unfortunately the program cannot handle this.

Is there any way to open the files directly?

Th

[2020-12-04 11:55] gam6itko commented on #97
The "clone" approach was made for safety purposes, it allows user to rollback changes in file. If you need this, then I can make a "realtime" approach, which you can set in constructor options.

[2020-12-08 09:24] DierteK commented on #97
Would be great if this could be solved in realtime.

Thanks

[2020-12-08 14:37] razvanphp commented on #97
I'm also interested in this realtime edit mode... it should be faster that writing the whole file again just to add one new record for example.

In my application I also need a stream returned for downloading, so probably I'll bake something and open a PR if welcomed.

Thank you for your work!

[2020-12-08 15:25] gam6itko commented on #97
@razvanphp PR is no needed, I'll do it at the week.

[2020-12-08 18:50] razvanphp opened #98 "CDX index update"
I'm modifying the DBF file successfully, but the VisualFox program still uses the values from the CDX file.

Any hints? Thank you!

[2020-12-08 18:58] razvanphp commented on #98
duplicate of #16

[2020-12-08 18:58] #98 closed

[2020-12-09 14:11] gam6itko commented on #95
You `WritableTable` has `create` method. But I don't think it works well for different versions. In future versions we will add a more stable creator.

[2020-12-09 14:16] gam6itko commented on #97
Use `1.3.2` with code below

[code]

waiting for your feedback

[2020-12-09 16:00] DierteK commented on #97
Thanks, works perfectly :-)

I could change a DBF file that was opened by several Foxpro applications (via Windows/CIFS) at the same time and no error occurred.

One more question:
After an $table->writeRecord(); all 3-digit decimal numbers become 2-digit. And this not only for fields I changed, but also for existing fields.

Is there a solution for this? It is a FoxPro-DBF, field type is numeric

[2020-12-09 17:03] gam6itko commented on #97
@DierteK please open a new issue for "10, 3"

[2020-12-09 17:03] #97 closed

[2020-12-09 19:46] gam6itko commented on #31
I don't think it's still actual

[2020-12-09 19:46] #31 closed

[2020-12-09 19:47] gam6itko commented on #22
I don't think it's still relevant

[2020-12-09 19:47] #22 closed

[2020-12-10 07:33] DierteK opened #99 "writeRecord() changes all decimal digits in the record"
I want to modify an already existing DBF file (FoxBase+/dbase III PLUS).
But as soon as I save the record with writeRecord(), all numeric fields are written with 2 decimal units, fields with the value 0 are written without decimal units.

Example view of a database:
![decimal](https://user-images.githubusercontent.com/69114693/101734854-35c2f380-3ac1-11eb-8ac7-d711deae5363.png)
The two marked reco

[2020-12-10 09:43] #99 closed

[2020-12-10 09:44] gam6itko commented on #99
@DierteK fixed in 1.3.3

[2020-12-15 05:36] ethaizone commented on #53
@gam6itko I'm sorry. This issue is long time ago and I don't have data anymore. Actually I shouldn't create issue like this. I should provide more information at that time or not create issue if it's not major problem.

[2020-12-22 10:13] DierteK commented on #16
I have tried it here also with IndexMan with the parameters -reindex -nodeleted.
If during the execution of IndexMan the FoxPro application runs also, no more entries are displayed within the application. It looks like an empty database.

Only after a new start of the FoxPro appication all rows (also the new ones) are shown :-(

[2021-01-07 18:35] support-softya opened #100 "language not supported"
hi im trying to get data everything is working fine with this code
[code]
but the result gonna be like this ..
[https://i.ibb.co/QHQYSLk/Capture.png](url)

any help here thanks

[2021-01-09 08:31] gam6itko commented on #100
@support-softya Didi you set correct file encoding?

[code]

[2021-01-09 13:46] support-softya commented on #100
thanks its working now ..

[2021-01-09 15:17] #100 closed

[2021-01-31 17:58] darkatrium commented on #95
@gam6itko. Can you implement method for create new DBASE III file format.
`create` method in `WritableTable` really not work.

in 141 string
`$column = new DBaseColumn($field[0], $field[1], 0, @$field[2], @$field[3], 0, 0, 0, 0, 0, 0, $i, $recordByteLength);` but this conflicts from constructor in `DBaseColumn` class

`public function __construct(
        string $rawName,
        string $type,

[2021-02-20 10:57] gam6itko commented on #95
@darkatrium in progress

[2021-02-23 20:14] Erimotte opened #103 "'tests' directory in reposit ( zip file)"
can you add in reposit/zip file the directory "Tests" ?

[2021-02-23 20:30] gam6itko commented on #103
@Erimotte What's the point of this?

[2021-02-25 10:14] Erimotte commented on #103
This is to have all the version of dbf resources and all the tests for possibly a fork. thx

[2021-02-25 10:14] #103 closed

[2021-03-21 17:35] gam6itko commented on #95
You can do it since v2.0.0. I would be glad to receive any feedback.

[2021-03-21 17:35] #95 closed

[2021-08-22 23:38] ctw28 opened #107 "HOW TO ADD NEW COLUMN"
i need to add some column field in same file. can u tell how? cause in README.md i only found add column when create new file. thank you

[2021-08-23 07:13] gam6itko commented on #107
@ctw28 unfortunately there is currently no way to add a new column to an existing file. If you really need it, I can start developing this feature.

[2021-08-23 10:01] ctw28 commented on #107
yes, i need it, and i would say thank you if you want to develop this feature. and i think, it will be great feature.

[2021-09-14 07:27] simndvr opened #108 "Compatible .dbf versions"
Hey! I've been exploring php-xbase recently to extract data from .dbf files, but just to clarify: which DBF versions does this library support? I'm incredibly new to DBase/XBase so some references would also help a lot.

[2021-09-18 14:22] gam6itko commented on #108
@simndvr You can find list of compatible databases [here](https://github.com/luads/php-xbase/tree/master/tests/Resources). I will add this info in README ASAP

[2021-09-18 14:22] #108 closed

[2021-10-22 12:53] stg-andrei opened #110 "Save inside a temp file"
Hello,

When I create a table, I am trying to save the file inside a temp file instead of an actual file.

I have been playing around with the code but cant seem to quite get it working yet.
Is this a feature that needs to be developed or I am not looking in the proper place?

Thanks,

[2022-02-09 18:38] gadget00 opened #111 "PHP Fatal error: Uncaught LogicException: Invalid number of bytes in binary string"
Hi all;

I'm getting this error now when I try to write a new record on a <strike>PDF</strike> **DBF file**:

What does it mean?

[2022-02-09 19:11] gam6itko commented on #111
@gadget00 could you provide stck trace or code sample?

[2022-02-09 20:19] gadget00 commented on #111
here's the stack trace:

`[Wed Feb 09 15:09:26.216711 2022] [php7:error] [pid 6284:tid 1196] [client ::1:34510] PHP Fatal error:  Uncaught LogicException: Invalid number of bytes in binary string. Expected: 762. Actual: 796 in C:\\Bitnami\\wampstack\\apache2\\htdocs\\data\\vendor\\hisamu\\php-xbase\\src\\XBase\\DataConverter\\Record\\DBaseDataConverter.php:76\nStack trace:\n#0 C:\\Bitnami\\wampsta

[2022-02-15 14:07] gadget00 commented on #111
@gam6itko I'm very sorry, I don't understand what do you mean.  This code was supposed to insert data in a new row on a DBF.

But hey! I figured out the size of the DBF field was too small for the amount of data coming from PHP and that was the reason for the error.

I increased the size of the field in the DBF file and problem solved.

This can be closed

[2022-02-16 06:34] gam6itko commented on #111
@gadget00 you wrote

PDF? Is it typo?

[2022-02-17 03:30] gadget00 commented on #111
@gam6itko sorry! I meant "DBF" instead of PDF; I didn't noticed the mistake, I'm so sorry LOL

[2022-02-17 03:33] #111 closed

[2022-03-08 12:47] arpyke2006 opened #112 "Can't read or edit data from any dbf files, nor adding new records"
Cannot read / edit or add data to newly created or existing dbf file. I get this error:
"Fatal error: Uncaught Exception: Column NAME not found in /vendor/hisamu/php-xbase/src/Table/Table.php on line 58 Exception: Column NAME not found in /vendor/hisamu/php-xbase/src/Table/Table.php on line 58 Call Stack: 0.0027 395672 1. {main}()  2. XBase\Record\DBaseRecord->get()  3. XBase\Table\Table->getColum

[2022-03-08 15:57] gam6itko commented on #112
How did you create these files? Can you upload it here?

[2022-03-09 07:32] arpyke2006 commented on #112
[test.zip](https://github.com/luads/php-xbase/files/8212573/test.zip)
It creates the .dbf file, but i cannot add new record

[2022-03-10 07:35] gam6itko commented on #112
@arpyke2006 fixed in 2.1.1

Also you should not use empty values for DATE columns. Use `null`

[2022-03-10 07:35] #112 closed

[2022-05-04 18:27] gadget00 opened #113 "TableException: Expected header terminator not present at position 6049"
Hi all,

Somehow now that I open and insert a row in a DBF; the next time I get this exception and is no longer possible to add new records to the Table through php-xbase.  I isolated the issue to immediately after adding a new record and fill the rows with it.  Any clue about the meaning of this error?  Is my insert messing up the header of the DBF?  I used a program VrunFox.exe to do the DBF han

[2022-05-04 19:11] gam6itko commented on #113
@gadget00 did you add new row by php-xbase or another application?

[2022-05-04 19:16] gadget00 commented on #113
it was via php-xbase.  After adding the new row, I cannot longer add another one; I get this exception

[2022-05-04 19:18] gadget00 commented on #113
I have version 1.2.1 right now in the production server; working on updating the code to 1.4.0 in my dev environment; never had this error before

[2022-05-04 20:53] gam6itko commented on #113
@gadget00
How often do you insert new rows in file?
Can you give me the file for investigation?

[2022-06-03 16:54] gadget00 commented on #113
Hello!  Here is a sample DBF file that just had this happened to it.  A few minutes ago I inserted a new record with the PHP code and now I cannot do it and I get the exception error

[demodata.zip](https://github.com/luads/php-xbase/files/8834257/demodata.zip)

[2022-06-03 18:34] gadget00 opened #114 "Uncaught TypeError: str_pad() expects parameter 1 to be string, bool given"
Hi all,

after upgrading to 1.4.0 to try to fix the other issue I mentioned before, now I get this TypeError when I do the writeRecord() after appending a new record and filling out the data in the fields:

[code]

I hope you can give me some help; It's become a critical issue for us not been able to insert correctly in the DBF

[2022-06-04 14:48] gam6itko commented on #114
Is the issue actual for file from #133 ?
Can you provide some code to speed up fixing the issue?

[2022-06-04 20:09] #114 closed

[2022-06-04 20:10] gam6itko commented on #113
@gadget00 I can't reproduce this bug. Please give me a code example where the bug occurs

[2022-06-05 02:40] gadget00 commented on #113
heres the Code I'm using https://pastebin.com/p36a8RDT

I'm using 1.4.0; when I do the composer upgrade it doesn't go further than that version.  How can I upgrade to 1.4.1?

[2022-06-05 10:05] gam6itko commented on #113
@gadget00 There is so many fixes since 1.2.1. Better way to solve the issue is the upgrade to 1.4.1. There was so many fixes since 1.2.1...

[2022-06-05 13:07] AnwarQasem commented on #111
was there actually found a solution for this ? I'm still getting the same thing.

[2022-06-06 22:35] AnwarQasem opened #115 "Invalid number of bytes in binary string. Expected: 123. Actual: 124"
Hello,

I have the following code

[code]

And it gives me the following error:

`Fatal error: Uncaught LogicException: Invalid number of bytes in binary string. Expected: 123. Actual: 124 in vendor\hisamu\php-xbase\src\DataConverter\Record\DBaseDataConverter.php:78 Stack trace: #0 vendor\hisamu\php-xbase\src\TableEditor.php(112): XBase\DataConverter\Record\DBaseDataConverter->toBinaryString(Objec

[2022-06-07 10:52] gam6itko commented on #115
@AnwarQasem please try v2.1.3

[2022-06-14 00:14] CPWebPro opened #116 ".fpt file disappears when appending record to .dbf file"
Hello everyone,

I have successfully managed to append a record to a .dbf file using this PHP extension. However, the .fpt file containing memo data disappears every time I append a record that requires data to be added to a memo field.

Below is an example of my code:

[code]

The memo data would be in the "itemdesc" column, which after debugging, seems to have correctly registered as a memo fiel

[2022-06-14 19:17] gam6itko commented on #116
@CPWebPro Hello. I need db file to catch the issue. Can you provide one for tests?

I can't reproduce the bug with files  what I have in tests folder.

[2022-06-15 01:20] CPWebPro commented on #116
I have replied to your e-mail with a small .zip file. Just in case you did not receive it, the .zip file is here.

[test_db.zip](https://github.com/luads/php-xbase/files/8904891/test_db.zip)

[2022-06-15 07:44] gam6itko commented on #116
@CPWebPro the problem is mismatching upper and lower cases in files extensions.

Extensions must be in one case.
- db.dbf
- db.fpt
- db.cdx

 or
- db.DBF
- db.FPT
- db.CDX

Are you able to change extensions case for db files? If you not then I can do some fixes for your case

[2022-06-17 02:20] CPWebPro commented on #116
Hello Alexander,

Sorry for my late reply, as there were a number of things I wanted to try first.

I tried changing the extensions and it did not seem to have any effect. After some investigating and code clean-up, the error with the .fpt file "disappearing" was due to the AbstractWritableMemo script not allowing the copy function to run correctly. So this ended up being a peculiar permission-bas

[2022-06-17 02:20] #116 closed

[2022-07-18 05:55] gadget00 commented on #113
I just upgraded my code to the current version and forgot about this error.  Maybe this can be closed?

[2022-07-18 05:55] #113 closed

[2022-09-12 20:20] d4mation opened #117 "Creating Visual FoxPro files"
I've noticed that if a Visual FoxPro DBase file (`TableType::VISUAL_FOXPRO`) already exists, you can open and modify it just fine. This is because its Header Length is already defined.

However, if you're creating one from scratch, it has to generate the Header and this fails. This is because there is no Specification defined for Visual FoxPro so it falls back to the default.

https://github.com/l

[2022-09-13 15:52] d4mation commented on #117
Update:

It seems the default Spec may be correct. https://web.archive.org/web/20160324152619/https://fox.wikis.com/wc.dll?Wiki~TableFileStructure

It seems that the Header Length itself just needs some adjustments in how it is calculated, likely using the `extractArgs` method for the `VisualFoxproHeaderReader` Class.

[2022-10-05 00:08] rodrigolopezucu opened #119 "Fatal Error reading Foxpro dbf"
I am trying to read a dbf foxpro database but in a particular field it gives me an error, the only peculiarity that I see is that the field is empty

DATABASE VIEW(3rd software viewer)
![image](https://user-images.githubusercontent.com/88750922/193951988-935c63c6-020b-46da-8f65-10c17274af40.png)

GETTING rows with php-xbase
`<?php
include 'vendor/autoload.php';
use XBase\TableReader;

$table = new

[2022-10-05 00:35] #119 closed

[2022-10-05 00:36] rodrigolopezucu commented on #119
Problem Was .fpt corrupt file

[2022-10-11 07:31] CPWebPro commented on #116
Hello Alexander,

The attached files should be what you require to proceed with a test. It is
a watered-down version of my full database with small amounts of dummy
data, but I identified the issue to be only with the memo fields, which is
why there are only two columns. Other data types would be correctly
transferred with the appended record to the .dbf file, but not the memo
fields. As mentioned